/* CSS */
body {
  background-color: #808080;
}
img {
  display: block;
  margin: auto;
  height: 200px;
}
img:hover {
  transform: rotateY(360deg);
  transition: 2s;
}
input:focus {
  border: 3px solid black;
  background-color: yellow;
  outline: none; /* Remove a borda padrão do navegador */
}